<!DOCTYPE html>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <% @caves.each do |x| %>
                <br><strong><%=x.cafename%></strong><br><br>
                <%= image_tag x.img_url.thumb %><br><br>
                <%=x.time%><br><br>
                <%=x.recommend%><br><br>    
        
                
                <a href="/cafe/destroy/<%=x.id%>">삭제</a><br>
                
                <a href="/cafe/edit/<%=x.id%>">수정</a><br>
                ────────────────────────────────────────────────<br><br>
            <% end %>
        
            <a href = "/cafe/new">새로운 카페 추천</a>
        </body>
    </html>