<!DOCTYPE html>
<html>
	<body>
		<%= form_for Cafe.new, url: '/cafe/record', multipart: true do |x| %>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        카페이름 <%= x.text_field :cafename %><br><br>
    	영업시간 <%= x.text_field :time %><br><br>
    	추천내용 <%= x.text_area :recommend %><br><br>
    	사진 첨부 <%= x.file_field :cafeimg %><br>
    	<%= x.submit '작성' %>
    	<% end %>
	</body>
</html>