<!DOCTYPE html>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <% @reviews.each do |x| %>
                <br><strong><%=x.title%></strong><br>
                <%= image_tag x.img_url.thumb %><br><br>
                <%=x.content%><br><br>
        
                
                <a href="/review/destroy/<%=x.id%>">삭제</a><br>
                
                <a href="/review/edit/<%=x.id%>">수정</a><br>
                ────────────────────────────────────────────────<br><br>
            <% end %>
        
            <a href = "/review/new">새로운 리뷰 쓰기</a>
        </body>
    </html>


        
